:root {
    --clr-neon: hsl(37 100% 54%);
    --clr-bg: hsl(33 21% 16%)
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-bg);
    font-family: "Balsamiq sans", cursive;
    color: var(--clr-neon);
}

.neon-button {
    font-size: 3rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid; /* 4px = 0.125em */
    padding: 0.25em 1em; /** using em cos if i change the font size the padding will change with it */
    border-radius: 0.25em;
    /* glowing effect */ 
    text-shadow: 0 0 0.0625em white, 0 0 0.25em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;

    /* transition: background-color 100ms linear; */
}

.neon-button::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.25);
    filter: blur(2.3em);
}

.neon-button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}

.neon-button:hover, 
.neon-button:focus {
    /* background: var(--clr-neon); */
    color: var(--clr-bg);
    text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::before {
    opacity: 1;
}